<!DOCTYPE html>
<html>
<head>
  <title>LinkBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>


<% if @current_user %>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<p class="navbar-text text-center">Signed in as <strong><%= @current_user.email %></strong>   
			<%= link_to 'Logout',"/logout", :class => 'btn btn-default'%>  </p>
		</div>
	</nav>

	<% else %>

		<nav class="navbar">
			<ul class="nav nav-tabs">
			<li role="presentation"><%= link_to "Login", "/login" %></li>
			<li role="presentation"><%= link_to "Sign Up", "/signup" %></li>
			</ul>

		</nav>

<% end %>

<%= render "partials/flash" %>

<div class="container">
	<div class="well">

<%= yield %>



</body>
</html>
